* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

body {

    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    padding: 20px;
    background: linear-gradient(90deg, #4d1062, #12196a) no-repeat;
    color: #fff;
    text-align: center;
}

input[type="text"] {
    padding: 10px;
    margin-top: 10px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input:focus {
    border-color: #3fe830;
    outline: none;
    box-shadow: 0 0 5px rgba(62, 38, 218, 0.4);
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.product {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

.product img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;

}

.load-more {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.load-more:hover {
    background-color: #218838;
}